/*  Универсальный селектор — box-sizing: border-box */
* {
    box-sizing: border-box;
}

/* Стиль хедера */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif; /* Google Font */
    font-size: 1.25rem;
    color: #333; /* Цвет текста по умолчанию */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 1.25rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 35px;
}


/* Стили для ссылок */
a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
}

a:hover {
    color: #ccc; /* Изменение цвета при наведении */
}

/* Стили для основного контейнера */
.main_container {
    padding: 50px ;
}

/* Стили для изображений */
.image_conteiner {
    display: flex;
    justify-content: space-between; /* или space-around, center */
    gap: 5%; /* отступ между картинками — например, 5% */
    margin-top: 30px;
    padding: 0 10px; /* небольшой отступ по бокам, чтобы не прилипали к краю */
}

.image_conteiner img {
    width: 47.5%; /* (100% - 5% gap) / 2 = 47.5% */
    height: auto;
    border-radius: 12px;
}

/* Стили для таблиц */
.table-style {
    width: 40%;
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    margin: 20px 0;
}

.table-style th,
.table-style td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

.table-style th {
    background-color: white;
    text-align: left;
    font-weight: bold;
}

.table-style tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Стили для футера */

footer {
    background-color: black;
    color: white;
    margin-top: 10px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    margin: 0;
}